# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Logs
logs/

# Output files
outputs/

# VS Code settings
.vscode/

# Environment variables
.env

# Windows files
Thumbs.db

# Mac files
.DS_Store